body {font-family: 'Poor Story', cursive;}
h1{
    color:#2DB400;
    background-color: white;
}
hr {
    background-color: #2DB400;
    height: 10px;
}
.btnwrite {
    color : white;
    background-color: #2DB400;
    border: none;
}
a {
    color: white;
    text-decoration: none;
}
.btnwrite :hover {
    font-weight: bold;
}
.search {
    border: #2DB400 solid 5px;
    color: #2DB400;
    font-size: 30px;
}
.titles {
    display: flex;
    color: white;
    text-align: center;
}
.titles2 {
    display: flex;
    color: black;
    text-align: center;
}
.titles2:hover {
    opacity: 100%;
    color: rgb(4, 252, 4);
    font-weight: bold;
}
.color {
    background-color: #2DB400;
} 
.dnum {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.ttl {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.author {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.vcnt {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.day {
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
}
.container .dnum,.container .vcnt {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
/* .container .day {
    width: 150px;
} */
.ttl, .author{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .ttl, .author {
    width: 150px;   
} */
