.btnwrite {
    background-color: gray;
    color: white;
    border: none;
}
.btnwrite:hover {
    background-color: skyblue;
}
.search {
    background-color: skyblue;
    color: white;
}
.titles {
    display: flex;
    color: white;
    text-align: center;
}
.color {
    background-color: gray;
} 
.dnum {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.ttl {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.author {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.vcnt {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.day {
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
}
.container .dnum {
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.container .titles :hover {
    background-color: aqua;
}
.container .ttl {
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.container .author {
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.container .vcnt {
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.container .day {
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
}