.btnwrite {
    background-color: gray;
    color: white;
    border: none;
}
.btnwrite:hover {
    background-color: skyblue;
}
.search {
    background-color: skyblue;
    color: white;
}
.titles {
    display: flex;
    color: white;
    text-align: center;
}
.titles2 {
    display: flex;
    color: white;
    text-align: center;
}
.titles2:hover {
    opacity: 100%;
    color: rgb(4, 252, 4);
}

.color {
    background-color: gray;
} 
.dnum {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.ttl {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.author {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.vcnt {
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.day {
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
}
.container .dnum,.container .ttl,.container .author,.container .vcnt {
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}
.container .day {
    background-color: black;
    width: 150px;
}
