h1 {
    color : #2DB400;
}
hr {
    background-color: #2DB400;
    height: 10px;
}
a {
    color : #2DB400;
    text-decoration: none;
}
div {
    color : #2DB400;
    font-weight: bold;
}
input {
    border: #2DB400 solid 5px;
}
textarea {
    border: #2DB400 solid 5px;
    width: 500px;
    height: 150px;
    resize: none;
}
#modify {
    color : white;
    background-color: #2DB400;
    border: none;
}